.topNavbarIs{
    display: block;   
  }

  /* #root > div > div > section:nth-child(4) > div:nth-child(2) > div > div:nth-child(1) > div > div.col-xs-12.col-sm-2.col-md-2.d-none.d-sm-block > div > div.swiper-wrapper.thumbSliderWrapperclassName > div > div.swiper-button-prev */

  .firstSwipper .swiper-button-prev{
    display: none !important;
  }
  .firstSwipper .swiper-button-next{
    display: none !important; 
  }
  
  @media only screen  and (max-width:768px) {
    .topNavbarIs{
    display: none !important; 
  } 
    
  }
  